@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Rubik", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  *, ::before, ::after {
    font-family: var(--font-sans);
  }
}

html {
  scroll-behavior: smooth;
}